 body {
    font-family: Arial, sans-serif;
    background: #E2E8CE;
    margin: 0;
    padding: 20px;
}

h2,h1 {
    text-align: center;
    color: #562F00;
    margin-bottom: 20px;
}

a.add-btn, a.edit-btn, a.delete-btn {
    display: inline-block;
    /* background: #E97F4A; */
    color: #fff;
    padding: 8px 6px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: background 0.3s ease;
}
a.add-btn{
    background: #E97F4A;
    float: right;
}
a.add-btn:hover {
    background: #FF6D1F;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFF4EA;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #B7BDF7;
}

table th {
    background: #222222;
    color: #FFF4EA;
}

table tr:hover {
    background: #FCF6D9;
}

a.action-btn {
    padding: 6px 12px;
    margin: 0 5px;
    /* background: #458B73; */
    border-radius: 4px;
    color: #FFF4EA;
    font-size: 14px;
}

.edit-btn {
    background: #458B73;
}

.edit-btn:hover {
    background: #16C47F;
}

/* a.delete-btn {
    background: #BF4646;
} */

.delete-btn:hover {
    background: #DC0E0E;
}
.delete-btn{
    border: none;
    color: #F5F2F2;
    padding: 6px 12px;
    background: #BF4646;
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
}


/* CSS for confirmation pop up */
body.confirmation-active .content{
        pointer-events: none; /* Prevent clicks on background */
        user-select: none;    /* Prevent text selection */
        opacity: 0.5;         /* Optional visual dimming */
    }

#popup-confirm {
    width: 350px;
    height: 150px;
    background-color: #BFC6C4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
    display: none;
}

#confirm{
    color: #DC0E0E;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.confirm-btn{
    border: none;
    color: #F5F2F2;
    padding: 10px 20px;
    display: inline-block;
    margin: 15px 15%;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.5s ease;
    cursor: pointer;
    border-radius: 6px;
}

.no{
    background-color: #458B73;
}
.no:hover{
    background-color: #F5F2F2;
    color: #16C47F;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 10px 10%;
}

.yes{
    background-color: #BF4646;
}
.yes:hover{
    background-color: #F5F2F2;
    color: #DC0E0E;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#search{
    float: right;
}
#searchBar{
    padding: 8px; 
    width: 250px; 
    border-radius: 8px;
    margin: 14px 0;
    border: 1px solid #B7BDF7;
    box-sizing: border-box;
    transition: border 0.3s ease;
}
#searchBar:focus{
    border-color: #FF7444;
    outline: none;
}

#search-btn{
    padding: 6px;
    margin: 0 5px;
    background: #FFF4EA;
    border-radius: 50%;
    /* color: #FFF4EA; */
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#search-btn:hover{
    background-color: #FF7444;

}
.error-message {
    /* background-color: #f8d7da; */
    color: #721c24;
    padding: 12px 20px;
    margin: 10px auto;
    /* border: 1px solid #f5c6cb; */
    border-radius: 5px;
    /* width: 60%; */
    text-align: center;
    font-weight: bold;
    /* display: block; */
    float: right;
}
