 body {
    font-family: Arial, sans-serif;
    background: #E2E8CE;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #562F00;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    background: #E97F4A;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: background 0.3s ease;
}
a.add-btn{
    background: #E97F4A;
    float: right;
}
a.add-btn:hover {
    background: #FF6D1F;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFF4EA;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #B7BDF7;
}

table th {
    background: #222222;
    color: #FFF4EA;
}

table tr:hover {
    background: #FCF6D9;
}

a.action-btn {
    padding: 6px 12px;
    margin: 0 5px;
    /* background: #458B73; */
    border-radius: 4px;
    color: #FFF4EA;
    font-size: 14px;
}

.edit-btn {
    background: #458B73;
}

.edit-btn:hover {
    background: #16C47F;
}

a.delete-btn {
    background: #BF4646;
}

.delete-btn:hover {
    background: #DC0E0E;
}
