 body {
    font-family: Arial, sans-serif;
    background: #E2E8CE;
    margin: 0;
    padding: 20px;
}
.duplicate{
    text-align: center;
}
h2 {
    text-align: center;
    color: #562F00;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFF4EA;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.error { 
    color: red; font-size: 0.9em; 
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

td {
    padding: 10px;
    vertical-align: middle;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #280905;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #B7BDF7;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #FF7444;
    outline: none;
}

input[type="radio"] {
    margin-left: 10px;
}

button[type=submit] {
    background-color: #607B8F;
    border: none;
    color: #F5F2F2;
    padding: 14px 28px;
    text-decoration: none;
    margin: 15px auto;
    cursor: pointer;
    width: 50%;
    display: block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s ease;
}

button[type=submit]:hover {
    background-color: #001F3D;
}


#department { 
    width: 250px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
    font-size: 14px; transition: 
    border-color 0.3s, box-shadow 0.3s; 
} 
/* Hover effect */ 
#department:hover { 
    border-color: #007bff; 
} 
/* Focus effect */ 
#department:focus { 
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
}