table{
    width: 100%;
    height: 80%;
    align-items: center;
}
tr{
    height: 70px;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="number"]{
    /* padding: 20px;
    size: 20px; */
    width: 80%;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}
label{
    font-size: 20px;
}
form{
    background-color: lightblue;
}
input[type=submit], button[type=submit]{
  background-color: aqua;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  /* align-items: center; */
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;

}
